/* Card box */
.card {
  background: #ffffff;
  border-radius: 12px;
  padding: 15px;
  width: 100%;
  max-width: 240px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

/* Image */
.card-image img {
  width: 100%;
  height: 280px;
  object-fit: fill ;
  border-radius: 8px;
}

/* Details */
.card-details {
  margin-top: 12px;
  text-align: center;
}

.card-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.card-author {
  font-size: 14px;
  color: #666;
  margin-bottom: 6px;
}

.card-price {
  font-size: 15px;
  font-weight: bold;
  color: #b12704;
  margin-bottom: 10px;
}

/* Button */
.add-cart-btn {
  background: #ffd814;
  border: none;
  border-radius: 8px;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.add-cart-btn:hover {
  background: #f7ca00;
}

@media (max-width: 600px) {
  .card {
    max-width: 100%;
  }

  .card-image img {
    height: 220px;
  }
}
